<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>My Blog</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                </ul>
                <h3 class="text-muted">My Blog</h3>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-10">
                    {% block main %}{% endblock main %}
                </div>

                <div class="col-md-2">

        <h3>Checkout our Tags!</h3>
                    {% for tag in tags %}
        <p><a href ="{% url 'post_list' tag.id %}">{{ tag.name }} </a>({{ tag.posts.count }})</p>
                    {% endfor %}

    </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-md-12"><div class="row">
    <div class="col-md-6 well">
        <h3>Checkout our latest post!</h3>
        <h4>{{ latest_post.title }}</h4>
</div>
    <div class="col-md-6 well">
        {% for date in date_list %}
        {{ date }}
        {% endfor %}
</div>

                </div>
            </div>

            <hr>

            <div class="footer">
<img style = "width :100px!important; display:inline!important;" src="{{ image.url }}">
                <p>&copy; Johannas Blog 2014</p>

            </div>
        </div>
        </div>
    </body>
</html>
